.formContainer {
    width: 100%;
    min-height: 495px;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 28%) 0px 0px 11px 0px;
    background-color: white;
    z-index: 7;
}

.formBox {
    display: block;
    padding: 30px 40px;
    background-color: #f0e0f0;
}
.inputContainer {
    width: 70%;
    background-color: #f0fff0;
}
.inputBox {
    
}

.customModal {
      top: '50%';
      left: '50%';
      right: 'auto';
      bottom: 'auto';
      margin-right: '-50%';
      transform: 'translate(-50%, -50%)';
  };