.mainWrapper{
    width : 100%;
    min-height : 60%;
    display: flex;
    flex-direction: column;

}

@media all and (min-width: 320px){
    .mainWrapper{
        .formBox{
            display: flex;
            justify-content: center;
            .inputContainer {
                width : 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
                border : 5px solid #0000ff;
                .inputcover{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border : 1px solid #f200ff;
                    .inputBox {
                        border-radius: 15px;
                        margin-top: 0.5rem;
                        padding : 0.5rem 0.5rem;
                        width: 90%;
                    }
                    .emailTextBox {
                        margin-top : 0.5rem;
                        padding-left: 1rem;
                    }
                    .button {
                        
                    }
                }
                
            }
        }
    }
}

@media all and (min-width: 768px){
    .mainWrapper{
        .formBox{
            display: block;
            padding : 30px 40px;
            .inputContainer {
                width : 70%;
                display: flex;
                flex-direction: column;
                align-items: center;
                border : 5px solid #0000ff;
                .inputBox {
                    border-radius: 10px;
                    margin-top: 0.5rem;
                    padding : 0.5rem 0.5rem;
                }
                .emailTextBox {
                    margin-top : 1rem;
                }
            }
        }
    }
}

@media all and (min-width: 1024px){
    .mainWrapper{
        .formBox{
            display: block;
            .inputContainer {
                width : 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                border : 5px solid #0000ff;
                .inputcover{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .inputBox {
                        width: 200%;
                        border-radius: 10px;
                        margin-top: 0.5rem;
                        padding : 0.5rem 0.5rem;
                        border : 1px solid #00ffff;
                    }
                    .emailTextBox {
                        margin-top : 1rem;
                    }
                }
                
            }
        }
    }
}