/* .back-to-top .top{
    position: fixed;
    cursor: pointer;
    bottom: 15px;
    right: 15px;
    font-size: 25px;
    color:aqua;
    background-color: blue;
    z-index: 4;
    width: 45px;
    text-align: center;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.back-to-top .top:hover{
    color:blueviolet;
    background: #ff3366;
} */

.topbutton {
    position: fixed;
    cursor: pointer;
    bottom: 5%;
    right: 15px;
    font-size: 20px;
    background-color: antiquewhite;
    z-index: 4;
    width: 50px;
    text-align: center;
    height: 50px;
    line-height: 45px;
    border-radius: 50%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.topArrow{
    content: '';
    width: 8px; /* 사이즈 */
    height: 8px; /* 사이즈 */
    border-top: 5px solid darkgrey; /* 선 두께 */
    border-right: 5px solid darkgrey; /* 선 두께 */
    display: inline-block;
    transform: rotate(315deg); /* 각도 */
    position: absolute;
    top: 40%; 
    left: 37%; 
    
}