// start common
.header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 0;
}

// end common

// start mobile
@media all and (min-width: 320px) {
  .header {
    background-color: #303243;
    height: 3rem;
    .shortDown {
      // display: block;
      font-size: 0.8rem;
    }
    .logoWrapper {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        display: block;
        width: 90%;
      }
    }
    .menuWrapper {
      width: 70%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .menuItem {
        font-size: 0.7rem;
        color: #ffffff;
        font-weight: 800;
        .ham {
          display: block;
          width: 1.5rem;
        }
      }

      .menuItem {
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
      }

      .menuItem span:before {
        content: '';
        position: absolute;
        background-color: dodgerblue;
        height: 0.3rem;
        width: 0;
        bottom: -1px;
        transition: 0.5s;
      }

      .menuItem span:hover:before {
        width: 1.8rem;
      }

      .hamItem {
        display: flex;
        align-items: center;
      }
    }
  }
}
// end mobile

// start tablet
@media all and (min-width: 768px) {
  .header {
  }
}
// end tablet

// start desktop
@media all and (min-width: 1024px) {
  .header {
    .shortDown {
      // display: block;
      font-size: 2.3rem;
    }
    background-color: #303243;
    height: 5rem;
    .logoWrapper {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        display: block;
        width: 35%;
      }
    }
    .menuWrapper {
      width: 70%;
      //   border: 2px solid red;

      display: flex;
      align-items: center;
      justify-content: space-around;
      .menuItem {
        font-size: 1.6rem;
        color: #ffffff;
        font-weight: 700;
        .ham {
          display: block;
          width: 1.5rem;
        }
      }
      .menuItem {
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
      }

      .menuItem span:before {
        content: '';
        position: absolute;
        background-color: dodgerblue;
        height: 0.3rem;
        width: 0;
        bottom: -1px;
        transition: 0.5s;
      }
      .menuItem {
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
      }

      .menuItem span:before {
        content: '';
        position: absolute;
        background-color: dodgerblue;
        height: 0.3rem;
        width: 0;
        bottom: -1px;
        transition: 0.5s;
      }
      .menuItem span:hover:before {
        width: 5rem;
      }
      .hamItem {
        display: none;
      }
    }
  }
}
// end desktop
